<!DOCTYPE html>

<html lang="pt-br">

<head>

  <meta charset="UTF-8" />

  <title>Meu Time Pokémon</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <h1>🌟 Meu Time Pokémon 🌟</h1>

  <div class="container">

    {% for pokemon in time %}

      <div class="card">

        <img src="{{ pokemon.imagem }}" alt="{{ pokemon.nome }}">

        <h2>{{ pokemon.nome }}</h2>

        <p>Tipo: {{ pokemon.tipo }}</p>

        <p>Nível: {{ pokemon.nivel }}</p>

      </div>

    {% endfor %}

  </div>

</body>

</html>